@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*::before,
*::after,
* {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
}
.content .home-page {
    display: flex;
    flex-direction: column;
}
nav {
    height: 80px;
}

nav .navigation-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px 5%;
    max-width: 70em;
    margin: 0 auto;
}
.navigation-view .main-logo {
    font-size: 30px;
    font-weight: 900;
    font-family: "Poppins", sans-serif;
    color: #1fcaf1;

}
.navigation-view ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.navigation-view ul li {
    list-style: none;
}

.navigation-view ul li a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #1fcaf1;
}

.home-page {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 600px;
}

.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    max-width: 50em;
    width: 90%;
    height: 22em;
    margin: 10px auto;
    padding: 16px;
    border-radius: 20px;
    background-image: url("./images/main_beach.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    //*background-image: linear-gradient(to bottom right, #185a9d, #43cea2);**/
}


.home-section h1 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: white;
}

.home-section p {
    text-align: center;
    font-family: "Poppins",sans-serif;
    font-weight: 200;
    color: whitesmoke;
}
.home-section button {
    display: block;
    width: 8em;
    height: 3em;
    border-radius: 10px;
    border: 1px solid #1fcaf1;
    font-family: "Poppins",sans-serif;
    background-color: #1fcaf1;
    color: white;
}

.second-section {
    display: flex;
    flex-direction: column;
    max-width: 70em;
    align-items: center;
    margin: 3em;
}

.second-section .header{
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 600;
}

.second-section .boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 3em;
}

.second-section .boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10em;
    height: 12em;
    border: 2px solid #1fcaf1;
    border-radius: 1em;
}

